.sign-container{
    width: 40vw;
    margin-top: 100px;
    background-color: $secondary-color;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        color: $primary-color;
    }

    form{
        display: flex; 
        flex-direction: column;
        align-items: center;
        font-size: 120%;
        padding: 20px;
        width: 80%;

        > * {
            margin-top: 5px;
        }

        label{
            margin-top: 20px;
            margin-left: 20px;
            font-weight: bold;
            align-self: flex-start;
        }
        input{
            width: 86%;
            padding: 2%;
            padding-left: 10px;
            font-size: 120%;
            border-radius: 5px;
            border: 1px solid rgb(116, 116, 116);
            background-color: $secondary-color;
            outline:none;
            color: rgb(184, 184, 184);

            &:focus{
                border: 1px solid rgb(255, 251, 251);
                color: white;
            }

            &:invalid{
                border: 1px solid rgb(255, 0, 0);
                color: rgb(255, 0, 0);
            }
        }
        button{
            width: 45%;
            padding: 10px;
            font-size: 110%;
            border-radius: 5px;
            background-color: $primary-color;
            color: #fff;
            border: none;
            font-weight: bold;
            margin-top: 20px;

            &:hover{
                background-color: darken($primary-color, 5%);
            }

            &:active{
                background-color: darken($primary-color, 10%);
            }
        }

        .input-file {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .label-file{
            color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 5px;
            background-color: darken($primary-color, 10%);
            width: 70%;
            cursor: pointer;
            align-self: center;
            text-align: left;
            overflow: hidden;
            margin-left: 0;
            text-align: center;
            position: relative;
            span{
                position: absolute;
                left: 10px;
                top: 5px;
                font-size: 200%;
            }
        }

        .label-file:hover{
            background-color: $primary-color;
        }
    }
}

.err{
    color: rgb(216, 80, 80);
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

@media(max-width : 1000px){
    .sign-container{
        width: 70vw;
    }
}

@media(max-width : 600px){
    .sign-container{
        width: 90vw;
        border: 2px solid white;

        form{
            width: 90%;
            padding: 10px;
            input{
                width: 90%;
            }
        }
    }
}