.logo-container{
    position: fixed;
    right: 0;
    top: 0;
    img{
        width: 100px;
        z-index: 2;
        position: absolute;
        top: 20px;
        right: 20px;
        transform: rotate(0deg);
        transition: all 0.2s ease-out;
        
        &:hover{
            transform: rotate(10deg);
        }
    }

    div{
        width: 400px;
        height: 200px;
        border-radius: 50px;
        background-color: $secondary-color;
        position: absolute;
        top: 40px;
        right: -250px;
        z-index: -1;
        transform: rotate(45deg);
    }
}