.logo-container{
    position: fixed;
    right: 0;
    top: 0;
    img{
        width: 100px;
        z-index: 2;
        position: absolute;
        top: 20px;
        right: 20px;
        transform: rotate(0deg);
        transition: all 0.2s ease-out;
        border-radius: 50%;
        background-color: $secondary-color;
        cursor: pointer;

        &:hover{
            transform: rotate(10deg);
        }
    }
}

@media(max-width: 900px){
    .logo-container{
        display:none;
    }
}