.wrap{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius:  50%;
    border: 1px solid white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    animation: spinner 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 1000;
    div{
        width: 9px;
        height: 9px;
        background-color: white;
        border-radius: 50%;
        transform: scale(1);
    }

    .t{
        position: absolute;
        top: 0;
        left: 20px;
    }

    .tl{
        position: absolute;
        top: 6px;
        left: 6px;
    }

    .l{
        position: absolute;
        left: 0;
        top: 20px;
    }

    .bl{
        position: absolute;
        left: 6px;
        bottom: 6px;
    }

    .b{
        position: absolute;
        bottom: 0;
        left: 20px;
    }

    .br{
        position: absolute;
        bottom: 6px;
        right: 6px;
    }

    .r{
        position: absolute;
        bottom: 20px;
        right: 0;
    }

    .tr{
        position: absolute;
        top: 6px;
        right: 6px;
    }

    .center{
        width: 30px;
        height: 30px;
        transform: scale(1);
        animation: none;
        border: 1px solid white;
        background-color: transparent;
    }
}
@keyframes spinner {
    from{
        transform: rotate(0deg)
    }

    to{
        transform: rotate(720deg)
    }
}

