.mt-lmao{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    input{
        width: 30vw;
        height: 40px;
        border-radius: 20px;
        border: none;
        font-size: 120%;
        padding-left: 15px;
        outline: none;
    }

    span{
        position: absolute;
        right: 10px;
        color: rgb(22, 22, 22);
    }
}

.hp-items-container{
    width: 60vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    .ghost{
        width: 55vw;
        height: 70px;
        background-color: rgba(240, 240, 240, 0.3);
        position: relative;
        margin-top: 10px;
        border-radius: 35px;
        transition: all 0.2s ease-out;
        overflow:hidden;

        .ghost-anim{
            background-color: rgba(255, 255, 255, 0.2);
            position: absolute;
            width: 55vw;
            height: 70px;
            opacity: 1;
            left: 0;
            bottom: 0;
            margin-top: 10px;
            animation: ghostAnimation 0.5s infinite;
        }

        @keyframes ghostAnimation {
            0%{      
                opacity: 1;
            }
            50%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
    }

    @for $i from 1 through 5 {
        .ghost:nth-child(3n + #{$i}) > .ghost-anim{
            animation-delay: $i * 0.05s;
        }
    }
}

@media(max-width: 1000px){
    .hp-items-container{
        width: 80vw;
        align-items: center;
        left: 10vw;

        .ghost{
            width: 80vw;
            .ghost-anim{
                width: 80vw;
            }
        }
    }

    .search{
        width: 60vw;
        input{
            width: 60vw;
        }
    }
    

    .mt-lmao{
        margin-top: 50px;

    }
}



