
.sidemenu-container{
    width: 60px;
    height: 100vh;
    transition: width 0.3s ease-out;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .lower{
        position: absolute;
        bottom: 0;
    }

    .upper{
        margin-top: 10px;
    }

    &:hover{
        width: 300px;

        .sidemenu-btn-container, .sidemenu-friend-container{
            width: 280px;
            h2{
                opacity: 1;
            }
            span{
                right: 5px;
            }
        }
    }
}