
.sidemenu-container{
    width: 60px;
    height: 100vh;
    transition: width 0.3s ease-out;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-right: 4px solid $hover-color;

    .lower{
        position: absolute;
        bottom: 0;
    }

    .upper{
        margin-top: 10px;
    }

    &:hover{
        width: 300px;

        .sidemenu-btn-container, .sidemenu-friend-container{
            width: 280px;
            h2{
                opacity: 1;
            }
            span{
                right: 5px;
            }
            .orb{
                    opacity: 1;
            }
        }
    }
}

.ham{
    display: none;    
}

@media(max-width: 600px){

    .ham{
        display: block;
        font-size: 120%;
        border: 3px solid white;
        padding: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .sidemenu-container{
        width: 100vw;
        height: 50px;
        transition: height 0.3s ease-out;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        border-right: none;
        overflow: hidden;
    
        .lower{
            position: absolute;
            display: none;
        }

        .middle{
            display: none;
            position: absolute;
        }
    
        .upper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 100vw;
            margin-top: 0;
            padding: 0 5px;
            position: absolute;
            top: 0;

            .sidemenu-btn-container{
                margin: 0;
                left: 0;
                h2{
                    display: none;
                }
            }
        }
    
        &.hamburger{
            height: 100vh;
            width: 100vw !important;

            .lower{
                display: block;
                margin-top:100px;
            }

            .middle{
                display: block;
                position: absolute;
                top: 60px;
            }

            .sidemenu-btn-container, .sidemenu-friend-container{
                width: 90vw !important;
                left: 5vw;
                h2{
                    opacity: 1;
                }
                span{
                    right: 5px;
                }
                .orb{
                    opacity: 1;
                }
            }

            .upper .sidemenu-btn-container{
                width: 40px !important;
                margin: 0;
                left: 0;
                h2{
                    display: none;
                }
            }
        }

        &:hover{
            width: 100vw;
        
            .sidemenu-btn-container, .sidemenu-friend-container{
                width: 40px;
                h2{
                    opacity: 1;
                }
                span{
                    right: 5px;
                }
            }
        }
    }
}   