
.sidemenu-container{
    width: 60px;
    height: 100vh;
    transition: width 0.3s ease-out;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-right: 4px solid $hover-color;

    .lower{
        position: absolute;
        bottom: 0;
    }

    .upper{
        margin-top: 10px;
    }

    &:hover{
        width: 300px;

        .sidemenu-btn-container, .sidemenu-friend-container{
            width: 280px;
            h2{
                opacity: 1;
            }
            span{
                right: 5px;
            }
        }
    }
}

@media(max-width: 600px){

    .sidemenu-container{
        width: 100vw;
        height: 50px;
        transition: height 0.3s ease-out;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        border-right: none;
        overflow: hidden;
    
        .lower{
            position: absolute;
            bottom: 0;
        }
    
        .upper{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }
    
        &:hover{
            height: 90vh;
            width: 100vw;

            .sidemenu-btn-container, .sidemenu-friend-container{
                width: 90vw;
                h2{
                    opacity: 1;
                }
                span{
                    right: 5px;
                }
            }

            .upper .sidemenu-btn-container{
                width: 40px;

                h2{
                    display: none;
                }
            }
        }
    }
}   