.sidemenu-friend-container{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid $white-color;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 8px;
    align-items: center;
    border-radius: 20px;
    color: white;
    overflow: hidden;
    margin-bottom: 10px;
    transition: width 0.3s ease-out;
     
    .img-cont{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 5px;

        img{
            width: 50px;
        }
    }   


    h2{
        opacity: 0;
        transition: opacity 0.3s ease-out;
        white-space: nowrap;
        text-decoration: none;
        margin-left: 30px;
    }
    span{
        position: absolute;
        right: 5px;
    }
    .orb{
        position: absolute;
        right: 5px;
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 50%;
        opacity: 0;

        &.hide{
            display:none;
        }
    }

    &:hover{
        transition: 0s linear all;
        background-color: $hover-color;
        border-color: $hover-color;
    }

    &:active{
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }
}

.sidemenu-wrap{
    position: relative;
}

.note{
    position: fixed;
    bottom: 10px;
    left: 30vw;
    width: 40vw;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    overflow: hidden;
    opacity: 0.8;
    animation: fadeinout 3s forwards;

    .message{
        color: black;
        padding-left: 125px;
        padding-right: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 30vw;

        &.image{
            font-weight: bold;
            color: $hover-color;
        }
    }

    .name{
        font-weight: bold;
        color: $hover-color;
        margin-left: 5px;

        .author{
            color: rgb(5, 114, 2);
        }
    }
}

@keyframes fadeinout{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media(max-width: 600px){
    .sidemenu-friend-container{
        width: 50px;
        height: 50px;
        background-color: $secondary-color;
        border: none;
        border-radius: 50px;

        .img-cont{
            width: 40px;
            height: 40px;
            left: 5px;
            img{
                width: 100px;
            }
        }   

        h2{
            margin-left: 55px;
        }

        .orb{
            width: 40px;
            height: 40px;
        }
    }

    .note{
        display: none;
    }
}